*,*::before,*::after{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.outline{
    outline: 1px solid black;
}
/* 按鈕顏色 */
.btn-color-orange{
    width: 128px;
    height: 40px;
    color: white;
    background-color:#FF5D50 ;
    cursor: pointer;
    border-radius: 22px;
    padding: 8px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.btn-color-orange:hover{
    color: white;
}
.btn-color-blue{
    width: 136px;
    height: 49px;
    font-style: 18px;
    padding: 12px 32px;
    background-color: #56C4C5;
    color: white;
    border-radius: 27px;
    border: 1px solid #56C4C5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-color-blue:hover{
    color: white;
}
/* 字體大小 */
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-32{
    font-size: 32px;
    line-height: 46px;
}
.fs-48{
    font-size: 48px;
    line-height: 70px;
}
/* 行高 */
.lh-24{
    line-height: 24px;
}
.lh-26{
    line-height: 26px;
}
.lh-35{
    line-height: 35px;
}
.lh-46{
    line-height: 46px;
}
/* 顏色 */
.blue{
    color: #56C4C5;
}
.gray{
    color:#747474 ;
}
.navbar{
    max-width: 1085px;
    margin: 0 auto;
    padding: 24px 0 ;
}
.navbar h1{
    width: 218.06px;
}
header{
    background:#F7F9FD ;
    border-radius: 0 0 0 300px;
    width: 100vw;
    height: 470px;
    margin-bottom: 100px;
    position: relative;
}
.banner-txt{
    max-width: 1085px;
    margin: 0 auto;
    margin-top: 116px;
}
.banner-pic{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg);
    background-repeat: no-repeat;
    width: 885px;
    height: 559px;
    position: absolute;
    top: 0;
    right: 0;
}
.content{
    max-width: 909px;
    margin: 0 auto;

}
.user-number{
    max-width: 909px;
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0 89px;
}
.user-number .this{
    color: white;
    font-size: 18px;
    background-color: #56C4C5;
    padding:12px 32px ;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-number li{
    color: #56C4C5;
    font-size: 18px;
    padding:12px 32px ;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.user-number li:hover{
    color: white;
    background-color: #56C4C5;
}
.plan-basic{
    width: 48.8449%;
}
.plan-basic h3{
    border-bottom: 1px solid #DDDDDD;
}

