/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

/* 全域設定 */
*,*::before,*::after{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    position: relative;
}


.outline{
    outline: 1px solid black;
}
/* 按鈕顏色 */
.btn-color-orange{
    width: 128px;
    height: 40px;
    color: white;
    background-color:#FF5D50 ;
    cursor: pointer;
    border-radius: 22px;
    padding: 8px 23px;
}
.btn-color-orange:hover{
    color: white;
}
.btn-color-blue{
    width: 136px;
    height: 49px;
    font-style: 18px;
    padding: 12px 32px;
    background-color: #56C4C5;
    color: white;
    border-radius: 27px;
    border: 1px solid #56C4C5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-color-blue:hover{
    color: white;
}
/* 字體大小 */
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-32{
    font-size: 32px;
    line-height: 46px;
}
.fs-48{
    font-size: 48px;
    line-height: 70px;
}
/* 行高 */
.lh-24{
    line-height: 24px;
}
.lh-26{
    line-height: 26px;
}
.lh-46{
    line-height: 46px;
}
/* 顏色 */
.blue{
    color: #56C4C5;
}
.gray{
    color:#747474 ;
}
.topball{
    background: #56C4C5;
    border-radius: 100%;
    width: 71px;
    height: 71px;
    color: white;
    position: fixed;
    right: 48px;
    bottom: 23px;
    cursor: pointer;
    z-index: 2;
}
/* header baground */
header{
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 850px;
    position: relative;
    margin-bottom: 100px;
}
.ball-1{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position:center;
    width: 361px;
    height: 360px;
    position: absolute;
    bottom: -180px;
    left:-225.5px;
}
.ball-2{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg);
    background-repeat: no-repeat;
    background-position:left;
    width: 160px;
    height: 360px;
    position: absolute;
    bottom:48%;
    right: 0;
    z-index: -1;
}
.ball-3{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-position:left;
    width: 160px;
    height: 360px;
    position: absolute;
    bottom:128px;
    left:0;
    z-index: -1;
}
.navbar{
    max-width: 1085px;
    margin: 0 auto;
    padding: 24px 0;
}
.navbar img{
    height: 40px;
}
.banner{
    max-width: 1085px;
    margin: 0 auto;
}
.banner-pic{
    width: 49.0322%;
}
.platform{
    max-width: 969px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.platform-li{
    width: 25.18%;
}
.platform-li img{
    width: 90px;
    height: 90px;
}
.charactor{
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.charactor-card img{
    border-radius: 12px 12px 0px 0px;
    margin-bottom: -2px;


}
.charactor-card-txt{
    padding: 16px 16px 24px 16px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    height: 120px;
}
.product{
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.icon1{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon01.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 100%;
    width: 86px;
    height: 86px;
}
.icon2{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon02.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 100%;
    width: 86px;
    height: 86px;
}
.icon3{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon03.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 100%;
    width: 86px;
    height: 86px;
}
.icon4{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon04.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 100%;
    width: 86px;
    height: 86px;
}
.product-card-content{
    max-width: 506px;
}
.product-card{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding: 32px 32px 48px 32px;
    height: 280px;
    max-width: 230px;
}
.product-txt{
    margin-left: 107px;
}
.comment{
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.comment h3{
    margin-bottom: 104px;
}
.comment-card{
    width: 33%;
    padding: 48px 32px 24px 32px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    position: relative;
    
    

}
.comment-person1{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/user01.jpg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -48px;
    left: 32px;
}
.comment-person2{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/user02.jpg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -48px;
    left: 32px;
}
.comment-person3{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/user03.jpg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -48px;
    left: 32px;
}
.comment-level{
    max-width: 284px;
}
.comment-level img{
    max-width: 11.78%;
    margin-right: 8px;
}
.pagination li{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #747474;
    margin-right: 8px;
}
.pagination .this-page{
    width: 16px;
    height: 10px;
    border-radius: 50px;
    background:#FFD153;

}
.footer-pic{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 503px;
    position: relative;
    padding-top: 260px;
}
.footer-copyright p{
    background-color:#F5F5F5 ;
    padding: 16px 0 ;
}


@media (max-width: 390px) {
    header{
        height: 80vh;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg);
        background-position: center 300px;
        background-size: 334px;
        margin-bottom: 100px;
    }
    .navbar{
        max-width: 375px;
        margin: 0 auto;
        padding: 30px 0;
        margin-bottom: 32px;
        border-bottom:3px solid #F6CB51 ;

    }
    .navbar img{
        width: 11rem;
    }
    .banner{
        max-width: 375px;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .banner-txt{
        width: 100%;
    }
    .banner-txt h2{
        font-size: 32px;
        font-weight: bold;
        line-height: 46px;
    }
    .banner-facebook{
        font-size: 16px;
        line-height: 24px;
    }
    .banner-pic{
        display: none;
    }
    .ball-1{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 126px;
        width: 280px;
        height: 410px;
        position: absolute;
        bottom: -269px;
        left: -225.5px;
    }
    .platform{
        max-width: 375px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .platform h3{
        font: size 28px;
        font-weight: bold;
    }
    .platform ul{
        flex-direction: column;
        align-items: center;
    }
    .platform-li{
        width: 100%;
        margin-bottom: 24px;
    }
    .charactor{
        max-width: 375px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .charactor h3{
        font-size: 28px;
        font-weight: bold;
    }
    .charactor .sm-ownservice{
        line-height: 26px;
    }
    .charactor-card img{
        border-radius: 12px 12px 0px 0px;
        margin-bottom: -2px;
    }
    .charactor-card-txt{
        margin-bottom: 24px;
    }
    .col-3{
        width: 100%;
    }
    .product{
        max-width: 375px;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
    .product-card-content{
        max-width: 506px;
        justify-content: center !important;
    }
    .product-card{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        padding: 32px 32px 48px 32px;
        height: 280px;
        max-width: 230px;
        margin-bottom: 24px;
    }
    .product-txt{
    margin-left: -1px;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
    }
    .comment{
        max-width: 1088px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .comment-sm{
        flex-wrap: wrap;
    }
    .comment h3{
        font-size: 28px;
    }
    .comment-card{
        width: 100%;
        padding: 48px 32px 24px 32px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        position: relative;
        
        
    
    }
    .comment-person1{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/user01.jpg);
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: -48px;
        left: 32px;
    }
    .comment-person2{
        display: none;
    }
    .comment-person3{
        display: none;
    }
    .comment-level{
        max-width: 284px;
    }
    .comment-level img{
        max-width: 11.78%;
        margin-right: 8px;
    }
    .comment-card-sm2{
        display: none;
    }

    .footer-pic{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 503px;
        position: relative;
        padding-top: 260px;
    }
    .footer-pic .fs-32{
        font-size: 24px;
    }
    .footer-copyright p{
        background-color:#F5F5F5 ;
        padding: 16px 0 ;
        line-height: 24px;
    }
    .ball-2{
        display: none;
    }

}