// 顏色區
$txt-gray:#747474;
$btn-orange:#FF5D50;
$btn-blue:#56C4C5;
$font-blue:#56C4C5;


// 文字格式區
$fs-16:16px;
$fs-18:18px;
$fs-20:20px;
$fs-24:24px;
$fs-32:32px;
$fs-48:48px;

$lh-24:24px;
$lh-26:26px;
$lh-29:29px;
$lh-35:35px;
$lh-46:46px;
$lh-70:70px;

